.case {
	/* stage size (500)/10 spaces */
	-fx-min-height:  50px;
	-fx-min-width:   50px;
	-fx-pref-height: 50px;
	-fx-pref-width:  50px;
	-fx-max-height:  50px;
	-fx-max-width:   50px;
	
	/* prevent rounded buttons */
	-fx-background-radius: 0em;
}

.terrain-grass {
	-fx-background-color: #6ecb60;
	-fx-border-style: solid;
	-fx-border-width: 1px;
}

.terrain-water {
	-fx-background-color: #1bb2d9;
}

.chess-space-active {
	-fx-background-color: red;
}
